/* start Reset */

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  display: inline-block;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  border: 0;
}

ul,
ol {
  list-style: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 11rem;
}

body,
[type="submit"] {
  font-size: 1.6rem;
  font-family: "Inter";

  border: 0;
  overflow-x: hidden;
  position: relative;
}

body::before {
  content: "";
  position: absolute;
  background-image: url(../images/pattern-curve.svg);
  background-repeat: no-repeat;
  width: 45%;
  aspect-ratio: 4/1;
  background-size: cover;
  bottom: 0;
}
/* End Reset */

.slider {
  display: flex;
  width: 100vw;
  height: 100vh;
  transition: transform 0.6s ease;
}
/* @media (max-width: 900px) {
  .slider {
    flex-direction: column;
  }
} */

.slide {
  min-width: 100vw;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, minmax(45rem, 1fr));
  justify-items: center;
  align-items: center;
  align-content: center;
}
@media (max-width: 900px) {
  .slide {
    grid-template-columns: 1fr;

    gap: 100px;
    /* margin-top: 80px;
    margin-bottom: 80px; */
  }
}
.info-content {
  max-width: 75%;
  justify-self: end;
  /* الثنتين نفس الشغل */
  /* position: relative;
  right: -5.5rem; */
  transform: translateX(5.5rem);
  z-index: 1;
}
@media (max-width: 1000px) {
  .info-content {
    max-width: 90%;
  }
}

.info-content::before {
  content: "";
  position: absolute;
  background: url(../images/pattern-quotes.svg) no-repeat;
  background-size: contain;
  width: 10rem;
  aspect-ratio: 1.2/1;
  /* top: -13%; */
  top: -5.2rem;
  left: 16%;
}
@media (max-width: 900px) {
  /*     flex-direction: column;     gap: 100px;    margin-top: 80px;    margin-bottom: 80px;    position: relative;    order: 2;    max-width: 90%;    justify-self: center;    text-align: center; */
  .info-content {
    position: relative;
    order: 2;
    max-width: 90%;
    justify-self: center;
    text-align: center;
    transform: translateX(0);
  }
  .info-content::before {
    left: 35%;
  }
}

.description {
  font-size: 3.2rem;
  font-weight: 300;
}

.details {
  margin-top: 3rem;
  display: flex;
  gap: 1rem;
  font-size: 1.8rem;
  font-weight: bold;
}
@media (max-width: 767px) /* or (max-height: 796px) */ {
  .info-content::before {
    width: 7rem;
    top: -4rem;
  }
  .description {
    font-size: 2rem;
  }
  .details {
    font-size: 1.4rem;
    gap: 0.5rem;
  }
}
@media (max-width: 400px) {
  .info-content::before {
    width: 6rem;
    top: -3rem;
  }
  .description {
    font-size: 1.8rem;
  }
  .details {
    font-size: 1.2rem;
  }
}

@media (max-width: 900px) {
  .details {
    justify-content: center;
    flex-direction: column;
  }
}
.details .name {
}
.details .career {
  color: lightgrey;
}
.pic-content {
  justify-self: start;
  position: relative;
  max-width: 80%;
}

.pic-content .image {
  max-width: 100%;
  box-shadow: 0 20px 30px -20px gray;
}
.pic-content::before {
  content: "";
  position: absolute;
  width: 140%;
  aspect-ratio: 1.16/1;
  background-image: url(../images/pattern-bg.svg);
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
  top: -10%;
  left: -15%;
}
@media (max-width: 900px) {
  .pic-content {
    justify-self: center;
    /* margin-top: 80px; */
  }
}
@media (max-width: 767px) {
  .pic-content::before {
    width: 130%;
    top: -6%;
    left: -12%;
  }
}
/* .slider:not(.slider:first-of-type) {
  display: none;
} */

.contol_buttons {
  position: absolute;
  bottom: -4%;
  left: 20%;
  transform: translateX(-50%);
  background-color: white;
  color: white;
  border: none;
  cursor: pointer;
  z-index: 10;
  border-radius: 20px;

  box-shadow: 0 0 10px 3px gray;
}

.contol_buttons button {
  padding: 10px 15px;
}
.contol_buttons button:active {
  scale: 0.9;
}
/*
بنحطها بحركة 
.contol_buttons button:first-child {
  border-right: 0.5px solid gray;
} */

@media (max-width: 900px) {
  .contol_buttons button {
    padding: 15px 20px;
  }
  .contol_buttons {
    left: 50%;
    border-radius: 25px;
  }
}
@media (max-width: 767px) {
  .contol_buttons button {
    padding: 10px 15px;
  }
  .contol_buttons buttn {
    left: 50%;
    border-radius: 20px;
  }
}

/* .active {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
  transition: transform 0.6s ease, opacity 0.6s ease;
  z-index: 2;
}
.disable {
  opacity: 0;
  visibility: hidden;
  transform: translateX(0);
  z-index: 0;
}
.disable-next {
  opacity: 1;
  visibility: visible;
  transform: translateX(100%); 
  transition: transform 0.6s ease, opacity 0.6s ease;
  z-index: 1;
}
.disable-prev {
  opacity: 1;
  visibility: visible;
  transform: translateX(-100%); 
  transition: transform 0.6s ease, opacity 0.6s ease;
  z-index: 1;
} */

.bolits {
  display: flex;
  gap: 5px;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.bolits .bolit {
  width: 10px;
  height: 10px;
  border: 1px solid black;
  border-radius: 50%;
  transition: 0.3s;
}
@media (max-width: 767px) {
  .bolits .bolit {
    width: 6px;
    height: 6px;
  }
}

.bolit_active {
  scale: 1.2;
  background-color: rgb(0, 254, 254);
}
